@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

* {
  font-family: Roboto;
}

.header h1{
	display: inline-block;
	padding-left: 10px;
}

.header{
	border: solid;
	border-color: #e01e3b; 
}

.logo{
	width: 70px;
	height: 70px;
	padding: 4px;
	float: left;
}

table {
    width:100%;
}
table, th, td {
    border: none;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th	{
    background-color: black;
    color: white;
}

#topbar {
  background: #e01e3b;
  padding: 10px 0 10px 0;
  width: 100%;
  height: 115px;
  display: inline-block;
  float: left;
  overflow: visible;
}
#topbar a {
  color: #fff;
  text-align: left;
  padding-left: 7px;
  font-size:1.3em;
  font-family: helvetica;
  line-height: 1.25em;
  text-decoration: none;
  opacity: 1;
  font-weight: bold;
}

tr{
	font-size: small;
}

.content{
	width: 45%;
	height: 250px;
	padding-top: 10px;
	float: left;
	border: solid;
	margin-top: 7px;
	margin: none;
}

.content h2{
	margin: 7px;
}

.content h3{
	margin: 7px;
}

.rankings{
	position: relative;
}

ul.stats{
	list-style-type: none;
	text-align: left;
}

#donut-chart {
	display: inline-block;
  	float: right;
  	margin: 0 auto;
}

#donut-chart2 {
	display: inline-block;
  	float: right;
  	margin: 0 auto;
}


.container-4{
	position: relative;
	float: left;
	width: 53%;
	margin-left: 7px;
	margin-top: 7px;
	margin-bottom: 7px;
	border: solid;
}

.container-4 h2{
	margin: 7px;
}

.barA{
	margin-top: 10px;
	margin-left: 7px;
	margin-right: 7px;
}

.barB{
	margin-left: 7px;
	margin-right: 7px;
}
.barC{
	margin-left: 7px;
	margin-right: 7px;
}
.barD{
	margin-left: 7px;
	margin-right: 7px;
}
.barE{
	margin-left: 7px;
	margin-right: 7px;
}
.barF{
	margin-left: 7px;
	margin-right: 7px;
}

.labels{
	width: 92%;
	position: absolute;
	bottom: 0;
}