/* CSS for main page */

@font-face{
	font-family: proxima-nova;
	src: url('../fonts/ProximaNovaRegular.otf')
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Asap);

p {
  font-family: 'proxima-nova', sans-serif;
	color: #222222;
	font-size: 20px;
}

p.percentage {
	font-family: 'proxima-nova', sans-serif;
	color: #2885d1;
	font-size: 13px;
	margin: 0px;
}

body {
	/*  background: #7d9ec7; ld browsers  */
	/* 	background: -moz-linear-gradient(-45deg,  #7d9ec7 40%, #2271ad 100%);  */
	/* 	background: -webkit-linear-gradient(-45deg,  #7d9ec7 40%,#2271ad 100%);  */
	background: linear-gradient(120deg,  #92a6d0 30%,#8775a5 90%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d9ec7', endColorstr='#2271ad',GradientType=1 );
	/*
		background-image: url(../graphics/background.jpg);
		-webkit-background-size: cover;
 		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  	*/
	font-family: 'proxima-nova', sans-serif;
}

img {
	display: inline-block; 
}

a {
	text-decoration: none;
}

a.neutral {
	fill: #6e93d0;
	background: #f1f8ff;
	cursor: pointer;
	border-radius: 5px;
	padding: 12px 7px 4px;    
	font-size: 14px;
}

a.down.hover {
	background: #EEEEEE;
	border-radius: 5px;
	fill: #2885d1;	
}

a.down {
	background: #FFF;
	border-radius: 5px;
	fill: #2887d4;
}

a.hover {
	background: #a2c3de;
	border-radius: 5px;
	fill: #FFF;	
}

h1 {
	margin: 0;
	margin-left:8px;
}

.info-icon{
	width: 15px;
	height: 15px;
	overflow: visible;
	position: relative;
	float: right;
	z-index: 1000;
}

.shotChartIcon {
	width: 15px;
	height: 15px;
	/*background: url("../graphics/information.png");
	background-size: cover;*/
}

#topbar{
	width: 90%;
	max-width: 1100px;
	border-top: 20px;
	border-bottom: 20px;
	margin-top:38px;
	margin-bottom: 10px;
	min-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#title{
	font-size: 20pt;
	display: inline-block;
	height: 60px;
	vertical-align: bottom;
}

#search{
	position: absolute;
	bottom: 0;
	right: 0;
	display: inline-block;
}

#main-container{
	background-color: rgba(245,245,245, 0);
	width: 90%;
	min-width: 1120px;
	max-width: 1120px;
	height: auto;
  	min-height: 100% !important;
	padding-bottom: 12px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
	/*box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);*/
}

#row0{
	top: 10px;
	position: relative;
	height: 40px;
}

#row1 {
	top: 10px;
	height: 432px;
	position: relative;
}

#row2 {
	top: 10px;
	position: relative;
}

#row3 {
	top: 10px;
	position: relative;
}

#row4 {
	top: 10px;
	position: relative;
}

#teamName{
	position: absolute;
	top: 50%;
	transform: translate(40px,-50%);
	font-size: 15pt;
  color: #444;
	margin-left: 0.8%;
}

#yearSearch{
	float: right;
	position: relative;
  top: 50%;
	-webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* ---------------------- */
/* Shot chart and sliders */
/* ---------------------- */

#container-shot {
	position: relative;
 	height: 400px;
	width: 550px;
	float: left;
} 

#container-percentage {
	position: absolute;
	top: 280px;
	left: 15px;
	min-width: 107px;
	background: aliceblue;
    font-size: 22px;
    padding: 16px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
}


#shot-sliders {
	position: absolute;
	width: 78%;
	margin-right: 25px;
	padding-bottom: 2px;
	margin-bottom: 5px;
	bottom: 0;
	right: 0;
}

.shot-labels {
	font-size: 11pt;
	margin-top: 2px; /* this determines vertical spread of the shot labels */
}

#container-labels {
	position: absolute;
	width: 1%;
	color: #555;
	bottom: 12px; /* this determines how far from the bottom the shot labels are */
	left: 17px;
}

.shot-sliders {
	margin-top: 5px;
	margin-bottom: 5px;
}



#roster { 
	height: 400px;
	width: auto;
	overflow:hidden;
}

#rosterText {
	font-size: 16px;
	color: #888;
}

#rosterTable {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-bottom: 10px;
}

table {
	border-style: hidden;
}

td {
  padding: 10px 0 10px 5px;
	text-align: center;
	white-space: nowrap;
}

#month-title{
	font-family: 'Asap';
}

#boxplotID {
	padding-left: 30px;
}

.container-card{
	background-color: #fff;
	margin-right: 9px;
	margin-left: 9px;
	margin-bottom: 8px;
	padding: 1%;
	border-radius: 3px;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
}

.card-elem{
	font-family: proxima-nova, sans-serif;
	font-weight: light;
}

/* Calendar hover */
rect.day:hover{
	stroke-width: 2;
	stroke: #92e0da;
}

div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: auto;					
  height: auto;					
  padding: 6px;				
  font: 12px sans-serif;		
	color: #EEE;
  background: #111;	
  border: 0px;		
  border-radius: 4px;			
  pointer-events: none;			
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
} 

.axis {
/*   font-family: Asap, sans-serif; */
  font-size: 14px;
  opacity: 0.9
}


/* --------------------------------------------- */
/* Parallel coordinatse and associated data grid */
/* --------------------------------------------- */

#parallel_coordinates {
	margin: 10px;
	margin-top: 35px;
	margin-bottom: 10px;

}

#datagrid {
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 53px;
	margin-right: 55px;
}

.react-grid-HeaderRow{
	overflow-y: hidden;
	overflow-x: hidden;
}

.react-grid-Main{
	border: 0px;
	outline: 0px;
}

.react-grid-Cell, .react-grid-HeaderCell {
	/*border-top: 1px solid #eee;*/
	padding-left: 15px;
}


/* colour of row when selected */
.react-grid-Row.row-selected {
	background-color: aliceblue;

}

/* look of entirety of table */
.react-grid-Grid {
	border-radius: 5px;
	border: 0px solid;
	/*border-color: #ddd;*/
	box-shadow:  0.4px 0.8px 0.9px 0.5px rgba(0,0,0,0.2);
}

.react-grid-HeaderCell {
	font-weight: 600;
	color: #555;
}


