
.tpx-select2-container {
  margin: 0; 
  position: relative;
  display: inline-block;
 
  -webkit-box-sizing: border-box; /* webkit */
     -moz-box-sizing: border-box; /* firefox */
          box-sizing: border-box; /* css3 */
  
  font-family: 'Roboto', sans-serif;
	color: #444;
	font-size: 17px;
}


.tpx-select2-container .select2-choice { /*height affect default height*/
   display: block;
    height: 26px;
 
    overflow: hidden;
    position: relative;

  border-radius: 3px;
  border-color: rgba(0, 0, 0, 0.2);
  border: 0px solid #aaa;
    white-space: nowrap;
    line-height: 26px;
    color: #444; /*text colour */
    text-decoration: none;

    border-radius: 4px 4px 4px 4px;

    background-clip: padding-box;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  background-color: #f6f6f6;
}
.tpx-select2-container .select2-choice > .select2-chosen {
    margin-right: 26px;
    display: block;
    overflow: hidden;

    white-space: nowrap;
  
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
 
    color: #888; /*VT text color of search bar*/
  
    text-overflow: ellipsis;
    float: none;
    
  text-align: right;
}

/* VT */
.tpx-select2-container.select2-dropdown-open .select2-choice { /*search bar*/
  background-color: #fff;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}

.tpx-select2-container.select2-dropdown-open.select2-container-active .select2-choice {
  box-shadow: none;
}
.tpx-select2-container.select2-dropdown-open.select2-drop-above .select2-choice {

  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0 0 3px 3px;
}

/*  */ /*focused*/
.tpx-select2-container.select2-container-active .select2-choice {
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.tpx-select2-container .select2-drop-active {
  border-color: rgba(0, 0, 0, 1);
}

.tpx-select2-container.select2-container-multi .select2-choices {
  min-height: 34px;

  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.tpx-select2-container.select2-container-multi .select2-choices .select2-search-choice {
  position: relative;
  border-color: rgba(0, 0, 0, 0.2);

  box-shadow: none;
  font-size: 13px;
  background-color: #f7f7f7;
  border-radius: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 16px;
  margin-left: 3px;
  margin-bottom: 0;
}
.tpx-select2-container.select2-container-multi .select2-choices .select2-search-choice:before {
  position: absolute;
  top: 4px;
  left: 5px;
  font-family: 'FontAwesome';
  content: '\f00d';
  z-index: 5;
  font-size: 110px;
}

/*  nothing?*/
.tpx-select2-container.select2-container-multi .select2-choices .select2-search-field input {
  margin: 0;
  padding-left: 8px;
  line-height: 21px;
  -webkit-box-sizing: border-box; /* webkit */
     -moz-box-sizing: border-box; /* firefox */
          box-sizing: border-box; /* css3 */
  
  font-family: 'Roboto', sans-serif;
	color: #444;
	font-size: 17px;
}

.tpx-select2-container.select2-container-multi.select2-container-active .select2-choices {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.3);
}
.tpx-select2-container.select2-container-multi.select2-container-active.select2-dropdown-open .select2-choices {
  border-radius: 3px 3px 0 0;
}
.tpx-select2-container.select2-container-multi.select2-container-active.select2-drop-above .select2-choices {
  border-radius: 0 0 3px 3px;
}
.tpx-select2-container .select2-search-choice-close {
  top: 5px;
  background: none;
  z-index: 10;
}
.tpx-select2-drop {
  font-family: 'Roboto';
  
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0 0 3px 3px;
}
.tpx-select2-drop .select2-search {

  position: relative;
}

/* VT */  
.tpx-select2-drop .select2-search input { /*SEARCH AREA*/
  background-color: #fff;

   padding: 4px 20px 4px 5px;
    margin: 0;

    outline: 0;
  font-size: 14px;
  
}

.tpx-select2-drop .select2-results {
  font-size: 14px;
}
.tpx-select2-drop .select2-results li {
  line-height: 1.42857;
}

/*hover*/
.tpx-select2-drop .select2-results .select2-highlighted {
  background-color: #dedede;
  border-radius: 2px;
}
.tpx-select2-drop.select2-drop-above {
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.tpx-select2-drop.select2-drop-above .select2-search input {
  margin-top: 0;
}
.tpx-select2-drop.select2-drop-above.select2-drop-active {
  border-top-color: rgba(0, 0, 0, 0.3);
}

