/* CSS for shotchart */

.hexagon {
  opacity:  0.2;
  shape-rendering: optimizeSpeed;
}

.hexagon.selected:active {
  color:  #FFF;
}

.hexagon.selected {
  opacity: 1;
}

.brush .extent {
  fill-opacity: .1;
  shape-rendering: crispEdges;
}
