@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700);
@import url(https://fonts.googleapis.com/css?family=Asap);

p {
  font-family: 'Roboto', sans-serif;
	color: #222222;
	font-size: 20px;
}
body{
/* 	background-image: url(../other/background.png) ; */
	/*Temporary background*/
	background: rgba(51,189,178,1);
  background: -moz-linear-gradient(top, rgba(51,189,178,1) 0%, rgba(32,153,133,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(51,189,178,1)), color-stop(100%, rgba(32,153,133,1)));
  background: -webkit-linear-gradient(top, rgba(51,189,178,1) 0%, rgba(32,153,133,1) 100%);
  background: -o-linear-gradient(top, rgba(51,189,178,1) 0%, rgba(32,153,133,1) 100%);
  background: -ms-linear-gradient(top, rgba(51,189,178,1) 0%, rgba(32,153,133,1) 100%);
  background: linear-gradient(to bottom, rgba(51,189,178,1) 0%, rgba(32,153,133,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33bdb2', endColorstr='#209985', GradientType=0 );
	width: 99%;
	height: 100%;
}
img{
	display: inline-block;
}

a.neutral {
		fill: #33bdb1;
    background: #FFF;
 	  cursor: pointer;
		border-radius: 5px;
    border-top: solid 1px #33bdb1;
    border-left: solid 1px #33bdb1;
    border-bottom: solid 1px #33bdb1;
    border-right: solid 1px #33bdb1;
    padding: 10px 6px 5px;    /* TOP L/R BOTTOM */
		font-size: 14px;
}


a.down {

    background: #FFF;
		border-radius: 5px;
    border-top: solid 1px #cdcdcd;
    border-left: solid 1px #cdcdcd;
    border-bottom:solid 1px  #cdcdcd;
    border-right: solid 1px #cdcdcd;
		fill: #cdcdcd;
}

a.hover {
    background: #33bdb1;
		border-radius: 5px;
    border-top: solid 1px  #33bdb1;
    border-left: solid 1px  #33bdb1;
    border-bottom:solid 1px  #33bdb1;
    border-right: solid 1px #33bdb1;
		fill: #FFF;
		
}

/* text{
	fill: #33bdb1;
}

text.down{
	fill: #cdcdcd;
} */



h1{
	margin: 0;
	margin-left:8px;
}

#topbar{
	width: 85%;
	border-top: 20px;
	border-bottom: 20px;
	margin-top:20px;
	margin-bottom: 20px;
	min-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;

}
#title{
	font-size: 20pt;
	display: inline-block;
	height: 60px;
	vertical-align: bottom;
}
#search{
	position: absolute;
	bottom: 0;
	right: 0;
	display: inline-block;
}

#main-container{
	background-color: #f6f6f6;
	width: 85%;
	min-width: 1100px;
	height: 2000px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	box-shadow: 0px 15px 24px 0px rgba(0,0,0,0.2);
}

#row0{
	top: 13px;
	position: relative;
	height: 40px;
}
#teamName{
	position: absolute;
	top: 50%;
	transform: translate(40px,-50%);

	font-size: 15pt;
  color: #444;
	margin-left: 0.8%;

}
#yearSearch{
	float: right;
	position: relative;
  top: 50%;
	-webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#row1 {
	top: 13px;
	position: relative;

}
#sub-container-shot{
  height: 350px;
	width: 550px;
	float: left;
} 
#roster { 
	height: 350px;
	width: auto;
	overflow:hidden;
}
#rosterText {
	padding-bottom: 10px;
	font-size: 16px;
	font-family: 'Asap', sans-serif;
	color: #888;
}


#rosterTable{
	width: 100%;
	font-family: 'Asap', sans-serif;
	margin-left: auto;
	margin-right: auto;
	
}


table{
	border-style: hidden;
}

td{
  padding: 10px 0 10px 5px;
	text-align: center;
	white-space: nowrap;
}


#row2 {
	top: 13px;
	position: relative;
}
#test{
	height:200px;
}



.container-card{
	background-color: #fff;

	
	margin-right: 12px;
	margin-left: 12px;
	margin-bottom: 10px;
	padding: 1%;
	border-radius: 5px;

	box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.03);
	
}
.card-elem{
		font-family: Roboto;
}












rect:hover {
  fill: #d1d1d1;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}

.row, .header, .cell { height: 18px; }
.row, .header { clear: left; }
.header { font-weight: bold; }
.cell { float: left; overflow: hidden; white-space: nowrap; width: 115px; }
.col-0 { width: 115px; }
.trad {display: inline-block;}

  .box {
    font: 10px sans-serif;
  }
  .box line,
  .box rect,
  .box circle {
    fill: white;
    stroke: #000;
    stroke-width: 1px;
  }

  .box .center {
    stroke-dasharray: 3,3;
  }

  .box .outlier {
    fill: none;
    stroke: #000;
  }

  .axis {
    font: 12px sans-serif;
  }
   
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
   
  .x.axis path { 
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }


 .line {                         
    fill: none;                 
    stroke: url(#line-gradient);    
    stroke-width: 2px;          
}