/* CSS for tables */

#grid { 
	margin-top: 20px;
	margin-left: 30px;
	width: 1210px}

.cell {
	
}

.row, .header, .cell { 
  height: 21px;  
}

.row, .header { 
  clear: left; width: 980px;
}

.header { 
  font-weight: bold;
}

.cell { 
  float: left; overflow: hidden; white-space: nowrap; width: 99px; color: #666 
}

.col-0 { 
  width: 165px; 
}
.col-8 {
	width: 85px;
}
.col-9 {
	width: 33px;
}

.trad {
  display: inline-block;
}
